.projects {
  text-align: center;
}

.projects__slider {
  height: calc(100vh - 180px); /* Ajuste la hauteur en fonction de la hauteur de la navbar */
  overflow: hidden;
}

/* Styles pour les grands écrans */
.project__card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 6px transparent;
  margin-right: 6%;
}

.project__content {
  margin-left: 6%;
  flex: 1;
  height: 100%; /* Hauteur à 100% */
  display: flex;
  flex-direction: column; /* Permet d'organiser les éléments verticalement */
  justify-content: center; /* Centre les éléments verticalement */
  align-items: flex-start; /* Aligne les éléments à gauche horizontalement */
  position: relative; /* Nécessaire pour positionner le bouton en bas */
  padding-right: 3rem; /* Espace pour éviter que les éléments ne se chevauchent avec le bouton */
}


.project__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}


.project__description {
  font-size: 1rem;
  color: #666;
  font-size: var(--small-font-size);
  text-align: left;
}

.project__techno {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
}

.project__image {
  flex: 0 0 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.view-button {
  position: absolute; /* Position absolue pour être en bas à droite */
  bottom: 1rem; /* Distance du bas */
  right: 1rem; /* Distance de la droite */
  display: flex; /* Alignement horizontal de l'icône et du texte */
  align-items: center; /* Alignement vertical de l'icône et du texte */
  padding: 0.5rem 1rem;
  background-color: #3f4041; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none; /* Supprime le soulignement éventuel */
}

.view-button:hover {
  background-color: #1e1f20; /* Couleur du bouton au survol */
}


.view-fullscreen-icon {
  margin-right: 0.5rem; /* Espace entre l'icône et le texte */
  font-size: 1.5rem;
  color: #fff;
}

.full_screen_text {
  color: #fff;
  font-size: var(--smaller-font-size);
}




/* Disposition en colonne pour les petits écrans */
@media screen and (max-width: 992px) {
  .project__card {
    flex-direction: column; /* Change l'orientation des enfants en colonne */
    justify-content: center; /* Centre les enfants verticalement */
    align-items: center; /* Aligne les enfants horizontalement */
  }

  .project__content,
  .project__image {
    width: 100%; /* Chaque section occupe toute la largeur */
    margin: 0; /* Supprime les marges latérales */
    text-align: center; /* Centre le texte */
  }

  .project__img {
    width: 100%; /* Chaque section occupe toute la largeur */
  }
  .project__content {
    padding: 1rem 0; /* Ajuste les marges intérieures pour les petits écrans */
    text-align: center; /* Centre le texte */
  }

  .project__title , .project__techno , .project__description {
    width: 100%;
    text-align: center; /* Centre le texte */
    /* background-color: yellow; */
  }

  .project__image {
    margin-top: 1rem; /* Ajoute un espace entre les deux sections */
  }

  .view-button {
    margin: 1rem auto 0; /* Haut : 1rem, Gauche/Droite : auto, Bas : 0 */
  }
}